

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("bg.png");
}

.main {
    position: relative;
    background: #ccc;
    width: 400px;
    height: 175px;
    margin: 100px auto;
    padding: 30px;
    
}

.clock-badge {
    width: 100px;
    background: #e66357;
    color: #fff;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: -15px;
    left: 38%;
}

.clock {
    font-family: 'Orbitron', sans-serif;
    background: #ebebeb;
    text-align: center;
    font-size: 55px;
    height: 100%;
    padding-top:25px;
    border-radius: 5px;
}